<!DOCTYPE HTML>
<html>
  <head>
    <title>Bus query tool</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <h2>
        Run query
      </h2>
      <div class="input-group">
        <input type="text" class="form-control" id="sql-query" placeholder="Enter SQL here...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" onclick="runQuery()">Go!</button>
        </span>
      </div>
      <p id="result">
      </p>
    </div>
  </body>

  <script type="text/javascript">

    var routes = '<%= routes %>'.split(',');


    function runQuery () {
      var t = document.getElementById("sql-query").value;
      $.post('query/', {query: t})
        .done(function (res) {
          console.log('done', res);
          $('#result').html('Result: ' + String(res.rows));
        });
    }
  </script>
</html>




